@use '@monetr/docs/styles/variables';

.carousel {
  width: 100%;
}

.slide {
  padding: 3 * variables.$size;
}

.imageDesktop {
  display: none;
  border-radius: 0.375rem;
  z-index: 10;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  width: 100%;

  @media (min-width: variables.$smallScreen) {
    display: block;
  }
}

.imageMobile {
  display: block;
  border-radius: 0.375rem;
  z-index: 10;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  width: 100%;

  @media (min-width: variables.$smallScreen) {
    display: none;
  }
}
