@use '@monetr/interface/variables';

.centerState {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2 * variables.$size;
}

.errorIcon {
  color: var(--content); // dark:text-dark-monetr-content
  width: 24 * variables.$size; // size-24
  height: 24 * variables.$size;
}

.content {
  width: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  min-width: 0;
}

.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2 * variables.$size;
  padding-top: 2 * variables.$size;
  padding-bottom: 16 * variables.$size;
}

.empty {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.emptyInner {
  display: flex;
  flex-direction: column;
  gap: 2 * variables.$size;
  align-items: center;
  max-width: 28rem; // max-w-md
  padding: 2 * variables.$size;
}

.iconRow {
  width: 100%;
  display: flex;
  justify-content: center;

  // space-x-4
  > :not([hidden]) ~ :not([hidden]) {
    margin-left: 4 * variables.$size;
  }
}

.emptyIcon {
  color: var(--content-muted);
  height: 12 * variables.$size;
  width: 12 * variables.$size;
}
