@use '@monetr/interface/variables';
@use '@monetr/interface/mixins';

.logo {
  max-width: 32 * variables.$size;
  width: 100%;
}

.root {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1 * variables.$size;

  padding-top: 10 * variables.$size;
  padding-left: 5 * variables.$size;
  padding-right: 5 * variables.$size;

  @media (min-width: variables.$mediumScreen) {
    padding-top: unset;
    padding-bottom: 10 * variables.$size;
    justify-content: center;
  }
}

.input {
  @include mixins.width-full;

  @media (min-width: variables.$smallScreen) {
    @include mixins.width-half;
  }

  @media (min-width: variables.$mediumScreen) {
    @include mixins.width-third;
  }

  @media (min-width: variables.$largeScreen) {
    @include mixins.width-quarter;
  }

  @media (min-width: variables.$extraLargeScreen) {
    @include mixins.width-fifth;
  }
}

.signUpWrapper {
  width: 100%;
  display: flex;
  margin-top: 1 * variables.$size;
  justify-content: center;
  gap: 1 * variables.$size;
}
