@tailwind base;

@tailwind components;

@tailwind utilities;

html, body {
    height: 100%;
}

/* custom scrollbar */
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #dedede;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #b1b1b1;
}

*:focus {
    outline: none;
}

button:focus {
    outline: none;
}

.smooth-animation {
    backface-visibility: hidden;
}

