@use '@monetr/interface/variables';
@use '@monetr/interface/mixins';

.multifactorRoot {
  @include mixins.screen;
  display: flex;
  align-items: center;
  flex-direction: column;

  gap: 1 * variables.$size;

  padding-top: 10 * variables.$size;
  padding-left: 5 * variables.$size;
  padding-right: 5 * variables.$size;

  @media (min-width: variables.$mediumScreen) {
    padding-top: unset;
    padding-bottom: 10 * variables.$size;
    justify-content: center;
  }
}

.input {
  @include mixins.width-full;

  @media (min-width: variables.$smallScreen) {
    @include mixins.width-half;
  }

  @media (min-width: variables.$mediumScreen) {
    @include mixins.width-third;
  }

  @media (min-width: variables.$largeScreen) {
    @include mixins.width-quarter;
  }

  @media (min-width: variables.$extraLargeScreen) {
    @include mixins.width-fifth;
  }
}

