@use '@monetr/interface/mixins';
@use '@monetr/interface/variables';

.date {
  @include mixins.text-base;
  display: flex;
  align-items: center;
  gap: 2 * variables.$size;
  font-weight: var(--semibold);
  color: var(--content-emphasis);
}

.oneOffChip {
  @include mixins.text-extra-small;
  padding-top: 0;
  padding-right: 1.5 * variables.$size;
  padding-bottom: 0;
  padding-left: 1.5 * variables.$size;
  border-radius: var(--border-radius);
  font-weight: var(--semibold);
  color: var(--content);
  background-color: var(--background-emphasis);
}
