*.log
.pnpm-store
.react-email
.cmakepreset
bin
coverage
libexec
telepresence.log
telepresence
coverage.txt
coverage.txt*
node_modules
generated
values.mayview.yaml
redoc-static.html
server/communication/email_templates/*
!server/communication/email_templates/README.md
server/ui/static/*
!server/ui/static/README.md
!server/ui/static/NOTICE
server/icons/sources/*
!server/icons/sources/README.md
server/internal/source/embed/*
!server/internal/source/embed/README.md
tmp
local
values.local.yaml
Notes.md
*terraform*
rest-api.xml
/build
server/build/NOTICE.md
.eslintcache
package-lock.json
reports

rest-api-junit.xml
rest-api-tests.json

Brewfile.lock.json
.vscode
docs/developing/api/swagger.*
.licenses
.pnpm-store

CMakeUserPresets.json

doc_build
