# This workflow rule might need to be tweaked once we are using bors to regulate builds. I think it will need another
# exception for staging branches that bors creates.
workflow:
  rules:
    - if: '$CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "staging"'
      when: always
    - if: '$CI_COMMIT_BRANCH =~ /(.tmp)/'
      when: never
    - if: '$CI_PIPELINE_SOURCE == "external_pull_request_event"'
      when: never
    - if: $CI_COMMIT_TAG
      when: always
    - if: '$CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH != "main"'
      when: never

stages:
  - Release
  - Dependencies
  - Build
  - Test
  - Documentation
  - Coverage
  - Publish Container
  - Prepare
  - Dry Run
  - Deploy

variables:
  GO111MODULE: 'on'
  GOFLAGS: '-mod=vendor'

Release Testing:
  only:
    refs:
      - tags
  allow_failure: true
  needs: [ ]
  stage: Release
  image: containers.monetr.dev/ubuntu:20.04
  tags:
    - k8s:shared
  script:
    - git --no-pager log --oneline $(git describe --tags --abbrev=0 @^)..@

Go Dependencies:
  needs: [ ]
  stage: Dependencies
  image: containers.monetr.dev/golang:1.16.3
  tags:
    - k8s:shared
    - arch:amd64
  script:
    - go mod vendor
  cache:
    key: go-${CI_COMMIT_SHA}
    paths:
      - $CI_PROJECT_DIR/vendor
    policy: push

Binary:
  needs:
    - "Go Dependencies"
  stage: Build
  image: containers.monetr.dev/golang:1.16.3
  tags:
    - k8s:shared
    - arch:amd64
  script:
    - make build
  cache:
    key: go-${CI_COMMIT_SHA}
    paths:
      - $CI_PROJECT_DIR/bin
      - $CI_PROJECT_DIR/vendor
    policy: pull-push

Go Tests:
  needs:
    - "Go Dependencies"
  services:
    - name: containers.monetr.dev/postgres:13
      alias: postgres
  variables:
    POSTGRES_HOST: postgres
    POSTGRES_PASSWORD: ""
    POSTGRES_USER: api-testing
    POSTGRES_DB: test-db
    POSTGRES_HOST_AUTH_METHOD: trust
  stage: Test
  image: containers.monetr.dev/golang:1.16.3
  tags:
    - k8s:shared
    - arch:amd64
  before_script:
    - make apply-schema-ci
  script:
    - make test
  cache:
    key: go-${CI_COMMIT_SHA}
    paths:
      - $CI_PROJECT_DIR/bin
      - $CI_PROJECT_DIR/vendor
    policy: pull
  artifacts:
    name: "$CI_COMMIT_SHA-test-coverage"
    paths:
      - ./coverage.txt
    expire_in: 7 days

PostgreSQL Tests:
  needs: [ ]
  stage: Test
  services:
    - name: containers.monetr.dev/pgtest:2021.04.30
      alias: postgres
  image:
    name: containers.monetr.dev/pgtest:latest
    entrypoint: [ "" ]
  tags:
    - k8s:shared
    - arch:amd64
  variables:
    POSTGRES_HOST: postgres
    POSTGRES_PASSWORD: ""
    POSTGRES_USER: postgres
    POSTGRES_DB: test-db
    POSTGRES_HOST_AUTH_METHOD: trust
  before_script:
    - sleep 5
  script:
    - make pg_test

Yeet Coverage:
  when: manual
  needs:
    - "Go Tests"
  environment:
    name: DeepSource
  stage: Coverage
  image: ghcr.io/monetrapp/deepsource:latest
  tags:
    - k8s:shared
    - arch:amd64
  script:
    - export DEEPSOURCE_DSN=$K8S_SECRET_DEEPSOURCE_DSN
    - deepsource report --analyzer test-coverage --key go --value-file ./coverage.txt
  dependencies:
    - "Go Tests"

.docker_template: &docker_template
  only:
    refs:
      - main
      - tags
  image: proxy.monetr.dev/docker:19.03.15
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ""
  services:
    - name: proxy.monetr.dev/docker:19.03.15-dind
      command: [ "--registry-mirror", "https://proxy.monetr.dev" ]
      alias: docker
  tags:
    - k8s:shared-docker
    - arch:amd64
  before_script:
    - apk add make git
    - echo "$CONTAINERS_MONETR_PASS" | docker login containers.monetr.dev --username $CONTAINERS_MONETR_USER --password-stdin

REST API:
  needs:
    - "Go Tests"
  stage: Publish Container
  <<: [ *docker_template ]
  script:
    - make docker-push

Generate - Staging:
  except:
    refs:
      - tags
  needs: [ ]
  stage: Prepare
  image: containers.monetr.dev/ubuntu:20.04
  tags:
    - k8s:shared
    - arch:amd64
  variables:
    GOFLAGS: ''
    ENVIRONMENT: Staging
  environment:
    name: Staging
    url: https://api.staging.monetr.dev
    deployment_tier: staging
    action: prepare
    kubernetes:
      namespace: monetr-staging
  script:
    - make generate ENVIRONMENT=${ENVIRONMENT}
  cache:
    key: k8s-${CI_COMMIT_SHA}-${ENVIRONMENT}
    paths:
      - $CI_PROJECT_DIR/generated/${ENVIRONMENT}
    policy: push
  artifacts:
    name: "k8s-${CI_COMMIT_SHA}-${ENVIRONMENT}"
    paths:
      - $CI_PROJECT_DIR/generated
    expire_in: 7 days

Generate - Acceptance:
  needs: [ ]
  stage: Prepare
  image: containers.monetr.dev/ubuntu:20.04
  tags:
    - k8s:shared
    - arch:amd64
  variables:
    GOFLAGS: ''
    ENVIRONMENT: Acceptance
  environment:
    name: Acceptance
    url: https://api.acceptance.monetr.dev
    deployment_tier: other
    action: prepare
    kubernetes:
      namespace: monetr-acceptance
  script:
    - make generate ENVIRONMENT=${ENVIRONMENT}
  cache:
    key: k8s-${CI_COMMIT_SHA}-${ENVIRONMENT}
    paths:
      - $CI_PROJECT_DIR/generated/${ENVIRONMENT}
    policy: push
  artifacts:
    name: "k8s-${CI_COMMIT_SHA}-${ENVIRONMENT}"
    paths:
      - $CI_PROJECT_DIR/generated
    expire_in: 7 days

Dry - Staging:
  only:
    refs:
      - main
  except:
    refs:
      - tags
  environment:
    name: Staging
    url: https://api.staging.monetr.dev
    deployment_tier: staging
    action: prepare
    kubernetes:
      namespace: monetr-staging
  needs:
    - "PostgreSQL Tests"
    - "Generate - Staging"
    - "REST API"
  stage: Dry Run
  image: containers.monetr.dev/ubuntu:20.04
  tags:
    - monetr:staging
  variables:
    GOFLAGS: ''
    ENVIRONMENT: Staging
  script:
    - make dry ENVIRONMENT=${ENVIRONMENT}

Dry - Acceptance:
  only:
    refs:
      - tags
  environment:
    name: Acceptance
    url: https://api.acceptance.monetr.dev
    deployment_tier: other
    action: prepare
    kubernetes:
      namespace: monetr-acceptance
  needs:
    - "PostgreSQL Tests"
    - "Generate - Acceptance"
    - "REST API"
  stage: Dry Run
  image: containers.monetr.dev/ubuntu:20.04
  tags:
    - monetr:acceptance
  variables:
    GOFLAGS: ''
    ENVIRONMENT: Acceptance
  script:
    - make dry ENVIRONMENT=${ENVIRONMENT}

Deploy - Staging:
  only:
    refs:
      - main
  except:
    refs:
      - tags
  environment:
    name: Staging
    url: https://api.staging.monetr.dev
    deployment_tier: staging
    action: start
    kubernetes:
      namespace: monetr-staging
  needs:
    - "Dry - Staging"
    - "Generate - Staging"
  stage: Deploy
  image: containers.monetr.dev/ubuntu:20.04
  tags:
    - monetr:staging
  variables:
    GOFLAGS: ''
    ENVIRONMENT: Staging
  script:
    - make deploy ENVIRONMENT=${ENVIRONMENT}
    - sentry-cli releases new -p ${CI_PROJECT_NAME} ${CI_COMMIT_SHA}
    - sentry-cli releases deploys ${CI_COMMIT_SHA} new -e $(echo "${ENVIRONMENT}" | tr A-Z a-z)
    - sentry-cli releases set-commits --auto ${CI_COMMIT_SHA}

Deploy - Acceptance:
  only:
    refs:
      - tags
  environment:
    name: Acceptance
    url: https://api.acceptance.monetr.dev
    deployment_tier: other
    action: start
    kubernetes:
      namespace: monetr-acceptance
  needs:
    - "Dry - Acceptance"
    - "Generate - Acceptance"
  stage: Deploy
  image: containers.monetr.dev/ubuntu:20.04
  tags:
    - monetr:acceptance
  variables:
    GOFLAGS: ''
    ENVIRONMENT: Acceptance
  script:
    - make deploy ENVIRONMENT=${ENVIRONMENT}
    - sentry-cli releases new -p ${CI_PROJECT_NAME} ${CI_COMMIT_TAG}
    - sentry-cli releases deploys ${CI_COMMIT_TAG} new -e $(echo "${ENVIRONMENT}" | tr A-Z a-z)
    - sentry-cli releases set-commits --auto ${CI_COMMIT_TAG}
