*.log
bin
coverage
libexec
config.yaml
telepresence.log
telepresence
coverage.txt
docs
node_modules
generated
values.mayview.yaml
redoc-static.html
pkg/ui/static/*
!pkg/ui/static/README.md
tmp
local
values.local.yaml
Notes.md
*terraform*
rest-api.xml
build
.eslintcache
package-lock.json
reports

rest-api-junit.xml
rest-api-tests.json

Brewfile.lock.json
