bin
libexec
config.yaml
telepresence.log
telepresence
coverage.txt
docs
node_modules
generated
values.mayview.yaml
redoc-static.html
pkg/ui/*.js
pkg/ui/*.html
pkg/ui/*.txt
tmp
local
values.local.yaml
Notes.md
*terraform*
rest-api.xml