# Config file for [Air](https://github.com/cosmtrek/air) in TOML format

root = "/build"
tmp_dir = "/tmp"

[build]
# Build monetr with the mini tag, this will allow insecure SMTP communication for working with emails locally.
cmd = 'go build -ldflags "-X main.buildType=development -X main.buildHost=${BUILD_HOST:-`hostname`} -X main.buildTime=`date -u +"%Y-%m-%dT%H:%M:%SZ"` -X main.buildRevision=`git rev-parse HEAD`" -tags=mini -o /usr/bin/monetr github.com/monetr/monetr/pkg/cmd'
# The resulting binary that we are working with.
bin = "/usr/bin/monetr"
# Run monetr inside of dlv, this allows us to connect debuggers to it very easily.
full_bin = "/build/compose/api-wrapper.sh"
include_ext = ["go", "tpl", "tmpl", "html", "sql", "yaml"]
exclude_dir = ["scripts", "templates", "public", "ui", "minikube", "node_modules"]
include_dir = ["pkg", "compose"]
exclude_file = []
exclude_regex = ["_test.go"]
exclude_unchanged = true
follow_symlink = true
log = "air.log"
delay = 1000 # ms
stop_on_error = true
send_interrupt = true
kill_delay = 500 # ms

[log]
time = false

[color]
main = "magenta"
watcher = "cyan"
build = "yellow"
runner = "green"

[misc]
clean_on_exit = true
