replicaCount: 3

image:
  repository: ghcr.io/monetr/monetr
  pullPolicy: Always
  tag: "" # Will be overwritten with the SHA for the commit of this deploy

imagePullSecrets: [ ]

podAnnotations:
  prometheus.io/scrape: 'true'
  prometheus.io/port: '9000'

serviceAccountName: monetr

service:
  port: 4000

ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: "nginx"
    cert-manager.io/cluster-issuer: "letsencrypt"
    nginx.ingress.kubernetes.io/configuration-snippet: |
      more_set_headers "Content-Security-Policy: default-src 'self'; script-src-elem 'self' https://www.gstatic.com https://www.google.com https://*.plaid.com https://relay.monetr.dog; font-src https://fonts.gstatic.com https://fonts.googleapis.com; style-src-elem 'unsafe-inline' https://fonts.googleapis.com; connect-src 'self' https://relay.monetr.dog https://sentry.io; prefetch-src 'self' https://*.plaid.com; frame-src 'self' https://*.plaid.com https://www.google.com; img-src 'self' data:";
      more_set_headers "X-Frame-Options: DENY";
      more_set_headers "X-Content-Type-Options: nosniff";
      more_set_headers "Referrer-Policy: same-origin";
      more_set_headers "Permissions-Policy: accelerometer=(), ambient-light-sensor=(), autoplay=(), battery=(), camera=(), cross-origin-isolated=(), display-capture=(), document-domain=(), encrypted-media=(), execution-while-not-rendered=(), execution-while-out-of-viewport=(), fullscreen=(), geolocation=(), gyroscope=(), keyboard-map=(), magnetometer=(), microphone=(), midi=(), navigation-override=(), payment=(), picture-in-picture=(), publickey-credentials-get=(), screen-wake-lock=(), sync-xhr=(), usb=(), web-share=(), xr-spatial-tracking=(), clipboard-read=(), clipboard-write=(), gamepad=(), speaker-selection=()";
  hosts:
    - host: my.monetr.dog
      paths:
        - path: /
  tls:
    - secretName: my-monetr-dog-tls
      hosts:
        - my.monetr.dog

resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 50m
    memory: 64Mi

nodeSelector:
  kubernetes.io/os: linux
  kubernetes.io/arch: amd64

disruption:
  enabled: false
  maxUnavailable: 1
  minAvailable: 1

customEnvFrom:
  - secretRef:
      name: monetr-config-secrets

api:
  name: monetr
  customEnv:
    - name: MONETR_ENVIRONMENT
      value: "my.monetr.dog"
  uiDomainName: my.monetr.dog
  apiDomainName: my.monetr.dog
  allowSignUp: true
  enableWebhooks: true # Will be deprecated soon.
  beta:
    enableBetaCodes: true
  postgreSql:
    address: postgres.acceptance.monetr.in
    port: 5432
    database: monetr
  email:
    enabled: true
    domain: monetr.dev
    forgotPassword:
      enabled: true
      tokenLifetime: 10m
    verification:
      enabled: true
      tokenLifetime: 30m
    smtp:
      username: apikey
      host: smtp.sendgrid.net
      port: 587
  sendGrid:
    enabled: false
    apiKey: ""
    templates:
      verifyEmailTemplate: ""
      forgotPasswordTemplate: ""
  reCaptcha:
    enabled: true
    verifyLogin: true
    verifyRegister: true
  plaid:
    environment: "https://development.plaid.com"
    enableReturningUserExperience: true
    webhooksEnabled: true
    webhooksDomain: my.monetr.dog
    oauthDomain: my.monetr.dog
    maxNumberOfLinks: 3
  cors:
    allowedOrigins:
      - "https://my.monetr.dog"
    debug: false
  redis:
    enabled: true
    address: redis.redis.svc.cluster.local
    port: 6379
  logging:
    level: trace
    format: json
    stackDriver:
      enabled: true
  sentry:
    enabled: true
    sampleRate: 1.0
    traceSampleRate: 1.0
  vault:
    enabled: true
    address: "http://vault.internal.svc.cluster.local:8200"
    role: "monetr"
    insecureSkipVerify: false
    auth: "kubernetes"
    timeout: "10s"
    idleConnTimeout: "9m"
  stripe:
    enabled: true
    webhooksEnabled: true # Still working on this for now.
    billingEnabled: true
    taxesEnabled: true
    initialPlan:
      freeTrialDays: 30
      stripePriceId: price_1JGYV0I4uGGnwpgw3kkur7ze
      features:
        - ManualBudgeting
        - LinkedBudgeting

