@use '@monetr/interface/variables';

.modal {
  @media (min-width: variables.$smallScreen) {
    max-width: 24rem; // sm:max-w-sm
  }
}

.form {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2 * variables.$size;
  padding: 2 * variables.$size;
  justify-content: space-between;
}

.body {
  display: flex;
  flex-direction: column;
}

.heading {
  margin-bottom: 2 * variables.$size;
}

.field {
  width: 100%;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 2 * variables.$size;
}

.buttonIcon {
  margin-right: 1 * variables.$size;
}
