@use '@monetr/interface/variables';

/*
inset-ring creates a border around a component using boxshadow, however the
border is inset on the component instead of outset. Use the variables
`--ring-color` and `--ring-size` to control the ring.
*/
@mixin inset-ring {
  box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px inset,
      var(--ring-color) 0px 0px 0px var(--ring-size) inset,
      rgba(0, 0, 0, 0) 0px 0px 0px 0px;
  transition: ease-in-out;
  transition-property: box-shadow;
  transition-duration: 75ms;
}

// ring takes the variables below and crafts a box shadow representing that
// ring.
// - `--ring-color`
// - `--ring-size`
@mixin ring {
  box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px,
    var(--ring-color) 0px 0px 0px var(--ring-size, 1px),
    rgba(0, 0, 0, 0) 0px 0px 0px 0px;
  transition: ease-in-out;
  transition-property: box-shadow;
  transition-duration: 75ms;
}

$textExtraSmallFontSize: 3;
$textExtraSmallLineHeight: 4;
@mixin text-extra-small {
  font-size: $textExtraSmallFontSize * variables.$size; // 0.75rem 12px
  line-height: $textExtraSmallLineHeight * variables.$size; // 1rem 16px
}

$textSmallFontSize: 3.5;
$textSmallLineHeight: 5;
@mixin text-small {
  font-size: $textSmallFontSize * variables.$size; // 0.875rem 14px
  line-height: $textSmallLineHeight * variables.$size; // 1.25rem 20px
}

$textBaseFontSize: 4;
$textBaseLineHeight: 6;
@mixin text-base {
  font-size: $textBaseFontSize * variables.$size; // 1rem 16px
  line-height: $textBaseLineHeight * variables.$size; // 1.5rem 24px
}

$textLargeFontSize: 4.5;
$textLargeLineHeight: 7;
@mixin text-large {
  font-size: $textLargeFontSize * variables.$size; // 1.125rem 18px
  line-height: $textLargeLineHeight * variables.$size; // 1.75rem 28px
}

$textExtraLargeFontSize: 5;
$textExtraLargeLineHeight: 7;
@mixin text-extra-large {
  font-size: $textExtraLargeFontSize * variables.$size; // 1.25rem 20px
  line-height: $textExtraLargeLineHeight * variables.$size; // 1.75rem 28px
}

$text2ExtraLargeFontSize: 6;
$text2ExtraLargeLineHeight: 8;
@mixin text-2-extra-large {
  font-size: $text2ExtraLargeFontSize * variables.$size; // 1.5rem 24px
  line-height: $text2ExtraLargeLineHeight * variables.$size; // 2rem 32px
}

$text5ExtraLargeFontSize: 12;
$text5ExtraLargeLineHeight: 7;
@mixin text-5-extra-large {
  font-size: $text5ExtraLargeFontSize * variables.$size; // 3rem 48px
  line-height: 1;
}
