@use '@monetr/interface/mixins';
@use '@monetr/interface/variables';

.modal {
  @media (min-width: variables.$mediumScreen) {
    max-width: 28rem; // md:max-w-md
  }
}

.form {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2 * variables.$size;
  padding: 2 * variables.$size;
  justify-content: space-between;
}

.body {
  display: flex;
  flex-direction: column;
}

.heading {
  margin-bottom: 2 * variables.$size;
}

// The bordered toggle box that wraps a label/description and a Switch.
.optionRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--border-radius);
  padding: 2 * variables.$size;
  margin-bottom: 4 * variables.$size;

  --ring-color: var(--border-string);
  --ring-size: 1px;
  @include mixins.ring;
}

.optionText {
  // space-y-0.5
  > :not([hidden]) ~ :not([hidden]) {
    margin-top: 0.5 * variables.$size;
  }
}

.optionLabel {
  @include mixins.text-small;
  font-weight: var(--medium);
  color: var(--content-emphasis);
  cursor: pointer;

  &[aria-disabled="true"] {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.optionDescription {
  @include mixins.text-small;
  color: var(--content);

  &[aria-disabled="true"] {
    opacity: 0.5;
  }
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 2 * variables.$size;
}
