.transactions-view {

  .transactions-item {
    &:after {
      content: " ";
      clear: both;
      display: block;
      height: 1px;
      width: 100%;
      position: relative;
      background-color: lightgray;
    }
  }
}


.transactions-item {

  // This is for the react-select components for changing the transaction name.
  .transaction-item-name {
    .transaction-name-select__control:not(:hover) {
      &:not(:focus-within) {
        border-color: transparent;

        .transaction-name-select__indicators {
          opacity: 0;
        }
      }
    }

    .transaction-name-select__menu {
      z-index: 2;
    }
  }

  .amount {
    color: red;

    &.addition {
      color: green;
    }
  }
}
