.transactions-view {

  .transactions-item {
    &:after {
      content: " ";
      clear: both;
      display: block;
      height: 1px;
      width: 100%;
      position: relative;
      background-color: lightgray;
    }
  }
}


.transactions-item {
  &.selected {
    background-color: lighten(#3f51b5, 40%) !important;
  }

  //.MuiTouchRipple-root {
  //  color: lighten(#3f51b5, 10%);
  //}

  .amount {
    color: red;

    &.addition {
      color: green;
    }
  }
}
