.transactions-view {

  .transactions-item {
    &:after {
      content: " ";
      clear: both;
      display: block;
      height: 1px;
      width: 100%;
      position: relative;
      background-color: lightgray;
    }
  }
}


.transactions-item {
  &.selected {
    background-color: lighten(#3f51b5, 40%) !important;
  }

  //.MuiTouchRipple-root {
  //  color: lighten(#3f51b5, 10%);
  //}

  .spending-selector {
    &:hover {
      border: 1px solid rgba(0, 0, 0, 0.23);
    }

    &:not(:hover) {
      border: 1px solid rgba(0, 0, 0, 0.0);
    }

    padding: 5px 15px;

    .spending-dropdown-icon {
      opacity: 0;
      transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    }

    &:hover {
      .spending-dropdown-icon {
        opacity: 50%;
      }
    }
  }

  .amount {
    color: red;

    &.addition {
      color: green;
    }
  }
}
