.transactions-view {

  .transactions-item {
    &:after {
      content: " ";
      clear: both;
      display: block;
      height: 1px;
      width: 100%;
      position: relative;
      background-color: lightgray;
    }
  }
}


.transactions-item {

  .amount {
    color: red;

    &.addition {
      color: green;
    }
  }
}
