html {
  //background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  //height: 100vh;
  //-webkit-background-size: cover;
  //-moz-background-size: cover;
  //-o-background-size: cover;
  //background-size: cover;
}

body {
  margin: 0;
}

body > #root {
  //height: -webkit-calc(100% - 64px);
  //height: -moz-calc(100% - 64px);
  //height: calc(100% - 64px);
  height: 100%;
  max-height: 100vh;
}
