@import 'ui/styles/_variables.scss';

div.sidebar {
  z-index: $sidebar-z-index;
  background: linear-gradient(to bottom,
          $primary-color $nav-bar-height, // Start the gradient below the bottom of the navbar.
          $primary-color, darken($primary-color, 7));
  scroll-behavior: auto;
  overflow-y: auto;

  button.MuiButton-root, a.MuiButton-root {
    text-transform: unset;
  }
}
