.section {
  text-align: center;
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;
}

.button {
  display: inline-block;
  background-color: #4e1aa0;
  border-radius: 0.5rem;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
}

.text {
  font-size: 0.875rem;
  color: #fff;
  margin: 0.5rem;
}
