@use '@monetr/emails/variables';

.section {
  text-align: center;
  margin-top: 9 * variables.$size;
  margin-bottom: 9 * variables.$size;
}

.button {
  display: inline-block;
  background-color: #4e1aa0;
  border-radius: 2 * variables.$size;
  color: #fff;
  font-size: 3.5 * variables.$size;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
}

.text {
  font-size: 3.5 * variables.$size;
  color: #fff;
  margin: 2 * variables.$size;
}
