@use '@monetr/emails/variables';

.body {
  color: #000;
  font-size: 3.5 * variables.$size;
  line-height: 6 * variables.$size;
  margin: 4 * variables.$size 0;
}

.footer {
  color: #6b7280;
  font-size: 3 * variables.$size;
  line-height: 6 * variables.$size;
  margin: 4 * variables.$size 0;
}

.recipient {
  color: #000;
}
