@import 'ui/styles/variables';

.goals-list {
  height: calc(100vh - #{$nav-bar-height});
  max-height: calc(100vh - #{$nav-bar-height});
  overflow-y: auto !important;
  overflow-x: unset !important;
  border-top-left-radius: 10px;
}
