@use '@monetr/interface/mixins';
@use '@monetr/interface/variables';

:global(.sidebar-open) {
  .bankSidebarWrapperRoot {
    display: flex;
  }

  @media (max-width: variables.$largeScreen) {
    .bankSidebarWrapperRoot {
      background-color: rgba(var(--background), 0.5);
      backdrop-filter: blur(4px) brightness(0.3);
    }
  }
}

:global(.sidebar-close) {
  .bankSidebarWrapperRoot {
    display: none;
  }

  @media (min-width: variables.$largeScreen) {
    .bankSidebarWrapperRoot {
      display: flex;
    }
  }
}

.bankSidebarWrapperRoot {
  z-index: 41;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;

  border-right: 1px solid var(--border);
  flex-direction: column;
  width: var(--bank-sidebar-width-static);
  gap: 4 * variables.$size;
  align-items: center;

  padding-top: calc(4 * variables.$size + env(safe-area-inset-top));
  padding-bottom: calc(4 * variables.$size + env(safe-area-inset-bottom));
}
