@use '@monetr/interface/mixins';
@use '@monetr/interface/variables';

// Only apply toggle sidebar styles when we are on a screen smaller than our
// "large" screen size. That way the styles for normal desktop screens and
// smaller mobile screens are fucked.
@media (max-width: variables.$largeScreen) {
  :global(.sidebar-open) {
    .budgetSidebarRoot {
      width: 100%;
      display: flex;
      background-color: color-mix(in srgb, var(--background) 50%, transparent);
      backdrop-filter: blur(4px) brightness(0.3);
      padding-left: var(--bank-sidebar-width-static);
      position: fixed;
    }
  }

  :global(.sidebar-close) {
    .budgetSidebarRoot {
      display: none;
    }
  }
}

// On large screens we are just always visible.
@media (min-width: variables.$largeScreen) {
  .budgetSidebarRoot {
    display: flex;
  }
}

.budgetSidebarRoot {
  z-index: 40;
  position: sticky;
  top: 0;
  bottom: 0;
  left: 0;

  flex-direction: column;
  border-right: 1px solid var(--border);
  align-items: center;
  width: var(--budget-sidebar-width);
  height: 100vh;

  padding-bottom: calc(4 * variables.$size + env(safe-area-inset-bottom));
}

.content {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 4 * variables.$size;
  padding-left: 2 * variables.$size;
  padding-right: 2 * variables.$size;
  padding-top: 4 * variables.$size;
}

.balances {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 2 * variables.$size;
  padding-left: 2 * variables.$size;
  padding-right: 2 * variables.$size;
}

.navList {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  gap: 2 * variables.$size;
  padding-bottom: 4 * variables.$size;
}

.badgeRight {
  margin-left: auto;
}

.navItem {
  vertical-align: middle; // align-middle
  cursor: pointer;
  display: flex;
  @include mixins.text-large; // text-lg
  gap: 2 * variables.$size;
  align-items: center;
  padding-left: 2 * variables.$size;
  padding-right: 2 * variables.$size;
  padding-top: 1 * variables.$size;
  padding-bottom: 1 * variables.$size;
  border-radius: 0.375rem; // rounded-md
  width: 100%;
  font-weight: var(--medium);
  color: var(--content-subtle);

  &:hover {
    background-color: var(--background-emphasis);
    color: var(--content-emphasis);
  }

  &[data-active='true'] {
    background-color: var(--background-emphasis);
    color: var(--content-emphasis);
    font-weight: var(--semibold);
  }
}


