kind: ConfigMap
apiVersion: v1
metadata:
  name: {{ include "api.fullname" . }}
  labels:
  {{- include "api.labels" . | nindent 4 }}
data:
  MONETR_NAME: {{ quote .Values.api.name }}
  MONETR_UI_DOMAIN_NAME: {{ quote .Values.api.uiDomainName }}
  MONETR_API_DOMAIN_NAME: {{ quote .Values.api.apiDomainName }}
  MONETR_ALLOW_SIGN_UP: {{ quote .Values.api.allowSignUp }}
  MONETR_ENABLE_WEBHOOKS: {{ quote .Values.api.enableWebhooks }}
  MONETR_CORS_ALLOWED_ORIGINS: {{ join "," .Values.api.cors.allowedOrigins }}
  MONETR_CORS_DEBUG: {{ quote .Values.api.cors.debug }}
  MONETR_LOG_LEVEL: {{ quote .Values.api.logging.level }}
  MONETR_PLAID_ENVIRONMENT: {{ quote .Values.api.plaid.environment }}
  MONETR_PLAID_BIRTHDATE_PROMPT: {{ quote .Values.api.plaid.birthdatePrompt }}
  MONETR_PG_ADDRESS: {{ quote .Values.api.postgreSql.address }}
  MONETR_PG_PORT: {{ quote .Values.api.postgreSql.port }}
  MONETR_PG_DATABASE: {{ quote .Values.api.postgreSql.database }}
  MONETR_CAPTCHA_ENABLED: {{ quote .Values.api.reCaptcha.enabled }}
  MONETR_CAPTCHA_VERIFY_LOGIN: {{ quote .Values.api.reCaptcha.verifyLogin }}
  MONETR_CAPTCHA_VERIFY_REGISTER: {{ quote .Values.api.reCaptcha.verifyRegister }}
  MONETR_REDIS_ENABLED: {{ quote .Values.api.redis.enabled }}
  MONETR_REDIS_ADDRESS: {{ quote .Values.api.redis.address }}
  MONETR_REDIS_PORT: {{ quote .Values.api.redis.port }}
  MONETR_REDIS_NAMESPACE: {{ quote .Values.api.redis.namespace }}
