kind: ConfigMap
apiVersion: v1
metadata:
  name: {{ include "api.fullname" . }}
  labels:
  {{- include "api.labels" . | nindent 4 }}
data:
  MONETR_UI_DOMAIN_NAME: {{ quote .Values.api.uiDomainName }}
  MONETR_API_DOMAIN_NAME: {{ quote .Values.api.apiDomainName }}
  MONETR_ALLOW_SIGN_UP: {{ quote .Values.api.allowSignUp }}
  MONETR_ENABLE_WEBHOOKS: {{ quote .Values.api.enableWebhooks }}
  MONETR_ENABLE_BETA_CODES: {{ quote .Values.api.beta.enableBetaCodes }}
  MONETR_EMAIL_ENABLED: {{ quote .Values.api.email.enabled }}
  MONETR_EMAIL_DOMAIN: {{ quote .Values.api.email.domain }}
  MONETR_EMAIL_VERIFICATION_ENABLED: {{ quote .Values.api.email.verification.enabled }}
  MONETR_EMAIL_VERIFICATION_TOKEN_LIFETIME: {{ quote .Values.api.email.verification.tokenLifetime }}
  MONETR_EMAIL_FORGOT_PASSWORD_ENABLED: {{ quote .Values.api.email.forgotPassword.enabled }}
  MONETR_EMAIL_FORGOT_PASSWORD_TOKEN_LIFETIME: {{ quote .Values.api.email.forgotPassword.tokenLifetime }}
  MONETR_EMAIL_SMTP_IDENTITY: {{ quote .Values.api.email.smtp.identity }}
  MONETR_EMAIL_SMTP_USERNAME: {{ quote .Values.api.email.smtp.username }}
  MONETR_EMAIL_SMTP_HOST: {{ quote .Values.api.email.smtp.host }}
  MONETR_EMAIL_SMTP_PORT: {{ quote .Values.api.email.smtp.port }}
  MONETR_CORS_ALLOWED_ORIGINS: {{ join "," .Values.api.cors.allowedOrigins }}
  MONETR_CORS_DEBUG: {{ quote .Values.api.cors.debug }}
  MONETR_LOG_LEVEL: {{ quote .Values.api.logging.level }}
  MONETR_LOG_FORMAT: {{ quote .Values.api.logging.format }}
  MONETR_LOG_STACKDRIVER_ENABLED: {{ quote .Values.api.logging.stackDriver.enabled }}
  MONETR_PLAID_ENVIRONMENT: {{ quote .Values.api.plaid.environment }}
  MONETR_PLAID_BIRTHDATE_PROMPT: {{ quote .Values.api.plaid.birthdatePrompt }}
  MONETR_PLAID_RETURNING_EXPERIENCE: {{ quote .Values.api.plaid.enableReturningUserExperience }}
  MONETR_PLAID_WEBHOOKS_ENABLED: {{ quote .Values.api.plaid.webhooksEnabled }}
  MONETR_PLAID_WEBHOOKS_DOMAIN: {{ quote .Values.api.plaid.webhooksDomain }}
  MONETR_PLAID_OAUTH_DOMAIN: {{ quote .Values.api.plaid.oauthDomain }}
  MONETR_PG_ADDRESS: {{ quote .Values.api.postgreSql.address }}
  MONETR_PG_PORT: {{ quote .Values.api.postgreSql.port }}
  MONETR_PG_DATABASE: {{ quote .Values.api.postgreSql.database }}
  MONETR_PG_INSECURE_SKIP_VERIFY: {{ quote .Values.api.postgreSql.insecureSkipVerify }}
  MONETR_PG_CA_PATH: {{ quote .Values.api.postgreSql.caCertificatePath }}
  MONETR_PG_CERT_PATH: {{ quote .Values.api.postgreSql.certificatePath }}
  MONETR_PG_KEY_PATH: {{ quote .Values.api.postgreSql.keyPath }}
  MONETR_CAPTCHA_ENABLED: {{ quote .Values.api.reCaptcha.enabled }}
  MONETR_CAPTCHA_VERIFY_LOGIN: {{ quote .Values.api.reCaptcha.verifyLogin }}
  MONETR_CAPTCHA_VERIFY_REGISTER: {{ quote .Values.api.reCaptcha.verifyRegister }}
  MONETR_REDIS_ENABLED: {{ quote .Values.api.redis.enabled }}
  MONETR_REDIS_ADDRESS: {{ quote .Values.api.redis.address }}
  MONETR_REDIS_PORT: {{ quote .Values.api.redis.port }}
  MONETR_REDIS_NAMESPACE: {{ quote .Values.api.redis.namespace }}
  MONETR_SENTRY_ENABLED: {{ quote .Values.api.sentry.enabled }}
  MONETR_SENTRY_SAMPLE_RATE: {{ quote .Values.api.sentry.sampleRate }}
  MONETR_SENTRY_TRACE_SAMPLE_RATE: {{ quote .Values.api.sentry.traceSampleRate }}
  MONETR_STRIPE_ENABLED: {{ quote .Values.api.stripe.enabled }}
  MONETR_STRIPE_WEBHOOKS_ENABLED: {{ quote .Values.api.stripe.webhooksEnabled }}
  MONETR_STRIPE_WEBHOOKS_DOMAIN: {{ quote .Values.api.stripe.webhooksDomain }}
  MONETR_STRIPE_BILLING_ENABLED: {{ quote .Values.api.stripe.billingEnabled }}
  MONETR_STRIPE_TAXES_ENABLED: {{ quote .Values.api.stripe.taxesEnabled }}
  MONETR_VAULT_ENABLED: {{ quote .Values.api.vault.enabled }}
  {{ if .Values.api.vault.address }}MONETR_VAULT_ADDRESS: {{ quote .Values.api.vault.address }} {{ end }}
  {{ if .Values.api.vault.auth }}MONETR_VAULT_AUTH: {{ quote .Values.api.vault.auth }} {{ end }}
  {{ if .Values.api.vault.tokenFile }}MONETR_VAULT_TOKEN_FILE: {{ quote .Values.api.vault.tokenFile }} {{ end }}
  {{ if .Values.api.vault.role }}MONETR_VAULT_ROLE: {{ quote .Values.api.vault.role }} {{ end }}
  {{ if .Values.api.vault.certificatePath }}MONETR_VAULT_TLS_CERT_PATH: {{ quote .Values.api.vault.certificatePath }} {{ end }}
  {{ if .Values.api.vault.keyPath }}MONETR_VAULT_TLS_KEY_PATH: {{ quote .Values.api.vault.keyPath }} {{ end }}
  {{ if .Values.api.vault.caCertificatePath }}MONETR_VAULT_TLS_CA_PATH: {{ quote .Values.api.vault.caCertificatePath }} {{ end }}
  MONETR_VAULT_INSECURE_SKIP_VERIFY: {{ quote .Values.api.vault.insecureSkipVerify }}
  {{ if .Values.api.vault.timeout }}MONETR_VAULT_TIMEOUT: {{ quote .Values.api.vault.timeout }} {{ end }}
  {{ if .Values.api.vault.idleConnTimeout }}MONETR_VAULT_IDLE_CONN_TIMEOUT: {{ quote .Values.api.vault.idleConnTimeout }} {{ end }}

---
kind: ConfigMap
apiVersion: v1
metadata:
  name: {{ include "api.fullname" . }}-config-file
  labels:
  {{- include "api.labels" . | nindent 4 }}
data:
  config.yaml: |
    rabbitMQ:
      enabled: false
      hostname: ""
      port: 1
      username: ""
      # Do not include password.

    backgroundJobs:
      engine: {{ quote .Values.api.backgroundJobs.engine }}
      scheduler: {{ quote .Values.api.backgroundJobs.scheduler }}
      jobSchedule:
    {{- toYaml .Values.api.backgroundJobs.jobSchedule | nindent 8 }}

    reCaptcha:
      enabled: {{ .Values.api.reCaptcha.enabled }}
      verifyLogin: {{ .Values.api.reCaptcha.verifyLogin }}
      verifyRegister: {{ .Values.api.reCaptcha.verifyRegister }}
      verifyForgotPassword: {{ .Values.api.reCaptcha.verifyForgotPassword }}

    server:
    {{- toYaml .Values.api.server | nindent 6 }}


    {{- if .Values.api.stripe.initialPlan }}
    stripe:
      initialPlan:
    {{- toYaml .Values.api.stripe.initialPlan | nindent 8 }}
    {{- end }}

    plaid:
      maxNumberOfLinks: {{ .Values.api.plaid.maxNumberOfLinks }}
