body {
  margin: 0;
  color: var(--content-emphasis);
}

body > #root {
  height: 100%;
  max-height: 100vh;
}

.text-size-inherit {
  font-size: inherit;
  line-height: inherit;
}

// None of the lucide icons should ever shrink!
svg.lucide {
  flex-shrink: 0;
}
