@tailwind base;

@tailwind components;

@tailwind utilities;

html, body {
    height: 100vh;
    @apply bg-background;
}

/* custom scrollbar */
::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-track {
    background-color: inherit;
}

::-webkit-scrollbar-thumb {
    @apply bg-zinc-700;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-zinc-500;
}

*:focus {
    outline: none;
}

button:focus {
    outline: none;
}

/* Make it so that number inputs don't have the stepper arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
/* end of stepper arrow go away */


.smooth-animation {
    backface-visibility: hidden;
}

.m-content {
  height: -webkit-calc(100vh - theme(spacing.16));
  height: -moz-calc(100vh - theme(spacing.16));
  height: calc(100vh - theme(spacing.16));
  margin-top: theme(spacing.16);
  width: 100%;
  display: flex;
}

.m-view-area {
  width: 100%;
  height: calc(100vh - theme(spacing.16));
  max-height: calc(100vh - theme(spacing.16));
  overflow-y: auto !important;
  overflow-x: unset !important;
}

.transactions-item .transaction-select__control {
  background-color: transparent;
}
.transactions-item .transaction-select__control:not(:hover):not(:focus-within) {
  border-color: transparent;
}
.transactions-item .transaction-select__control:not(:hover):not(:focus-within) .transaction-select__indicators {
  opacity: 0;
}
.transactions-item .transaction-select__menu {
  z-index: 2;
}
.transactions-item .amount {
  color: red;
}
.transactions-item .amount.addition {
  color: green;
}


.animate-pulse {
  animation: pulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
