@tailwind base;

@tailwind components;

@tailwind utilities;

:root {
  --brand: #4E1AA0;
  --brand-subtle: #5D1FC1;
  --brand-muted: #9461E5;
  --brand-faint: #AC84EB;
  --brand-bright: #CFB9F4;
  --brand-disabled: #b591ed;
  --brand-focused: #3E157F;

  /* --error-focused: #f87171; */
  --error: #ef4444;

  --destructive: #dc2626;
  --destructive-subtle: #ef4444;

  --amount-negative: #ef4444;
  --amount-positive: #22c55e;

  --background: #19161f;
  --background-subtle: #27272a;
  --background-emphasis: #3f3f46;
  --background-darker: #131118;

  --border: #3f3f46;
  --border-subtle: #27272a;
  /* For input fields, these two borders are used, string is normal border */
  --border-hover: #a1a1aa;
  --border-string: #71717a;

  /* Content colors, used for test */
  --content: #d4d4d8;
  --content-muted: #52525b;
  --content-subtle: #a1a1aa;
  --content-placeholder: #9ca3af;
  --content-disabled: #6b7280;
  --content-emphasis: #fafafa;

  /* Border radius large, ~8px */
  --border-radius: 0.5rem;

  /* Used for element outlines */
  --outline-size: 2px;

  /* Font weights */
  --normal: 400;
  --medium: 500;
  --semibold: 600;

  /* Sizes for things, to be used with width, height, gaps etc */
  --size-1: 0.25rem; /* 4px */
  --size-2: calc(2 * var(--size-1));
  --size-3: calc(3 * var(--size-1));
  --size-4: calc(4 * var(--size-1));
  --size-5: calc(5 * var(--size-1));
  --size-8: calc(8 * var(--size-1));
}

html, body {
    height: 100%;
    @apply bg-background;
}

/* custom scrollbar */
::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-track {
    background-color: inherit;
}

::-webkit-scrollbar-thumb {
    @apply bg-zinc-700;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-zinc-500;
}

*:focus {
    outline: none;
}

button:focus {
    outline: none;
}

/* Make it so that number inputs don't have the stepper arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
/* end of stepper arrow go away */


.smooth-animation {
    backface-visibility: hidden;
}

.m-content {
  height: -webkit-calc(100vh - theme(spacing.16));
  height: -moz-calc(100vh - theme(spacing.16));
  height: calc(100vh - theme(spacing.16));
  margin-top: theme(spacing.16);
  width: 100%;
  display: flex;
}

.m-view-area {
  width: 100%;
  height: calc(100vh - theme(spacing.16));
  max-height: calc(100vh - theme(spacing.16));
  overflow-y: auto !important;
  overflow-x: unset !important;
}

/*
 Fix some weird 1password thing thats being inserted by the chrome extention?
 Web development is great...
*/
#\31 p-live-region {
  display: none;
}

.transactions-item .transaction-select__control {
  background-color: transparent;
}
.transactions-item .transaction-select__control:not(:hover):not(:focus-within) {
  border-color: transparent;
}
.transactions-item .transaction-select__control:not(:hover):not(:focus-within) .transaction-select__indicators {
  opacity: 0;
}
.transactions-item .transaction-select__menu {
  z-index: 2;
}
.transactions-item .amount {
  color: red;
}
.transactions-item .amount.addition {
  color: green;
}


.animate-pulse {
  animation: pulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
