.body {
  background-color: #fff;
  margin: auto;
  font-family: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.container {
  border: 1px solid #e5e7eb;
  border-radius: 0.25rem;
  margin: 2.5rem auto;
  padding: 1.25rem;
  max-width: 36rem;
}
