@use '@monetr/interface/variables';
@use '@monetr/interface/mixins';

.manualLinkSetupLayoutRoot {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2 * variables.$size;
  min-height: fit-content;
  justify-content: space-between;
  padding: 5 * variables.$size;

  width: 100%;
  height: 100vh;
}
