@use '@monetr/interface/variables';
@use '@monetr/interface/mixins';

.manualLinkSetupLayoutRoot {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1 * variables.$size;

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1 * variables.$size;
  min-height: fit-content;

  padding:5 * variables.$size;

  width: 100%;
}
