.reverse-button {
  position: absolute !important;
  top: 235px;
  left: 315px;
  z-index: 1;
  color: white !important;
  background-color: #3f51b5 !important;
}

.transfer-item {
  min-height: 84px;
}
