@use '@monetr/interface/variables';

// Root is an outer div that contains the checkbox and the two string rows as
// two separate child components.
.formCheckboxRoot {
  display: flex;
  column-gap: 3 * variables.$size;
  padding-bottom: 3 * variables.$size;
}

// The wrapper contains the actual checkbox and is used to place the checkbox on
// as the first component in the checkbox component row.
.formCheckboxWrapper {
  height: 6 * variables.$size;
}
