@use '@monetr/docs/styles/variables';
@use '@monetr/docs/styles/mixins';
@use '@monetr/docs/components/GradientHeading/GradientHeading' as gh;

.root {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titleWrapper {
  @include gh.wrapper;
  margin-left: 3 * variables.$size;
  padding: 4 * variables.$size;
}

.titleBlur {
  @include gh.blur;
  border-width: 1px;
  border-style: solid;
  border-color: currentColor;
  opacity: 0.5;
  @include mixins.text-4-extra-large;

  @media (min-width: variables.$largeScreen) {
    @include mixins.text-6-extra-large;
  }
}

.titleForeground {
  @include gh.foreground;
  height: 24 * variables.$size;
  @include mixins.text-4-extra-large;

  @media (min-width: variables.$largeScreen) {
    @include mixins.text-6-extra-large;
  }
}
