# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches:
      - '!renovate/*'
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 15.x
        uses: actions/setup-node@v2
        with:
          node-version: 15.x
      - run: yarn install
      - run: yarn test
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 15.x
        uses: actions/setup-node@v2
        with:
          node-version: 15.x
      - run: yarn install
      - run: yarn build-prod
      - name: Store Built Web UI
        uses: actions/upload-artifact@v2
        with:
          name: ${{ github.sha }}-js-build
          path: ./build/*
          retention-days: 7
#  docker:
#    name: Docker
#    needs:
#      - build
#    runs-on: ubuntu-latest
#    steps:
#      - uses: actions/checkout@v2
#      - uses: actions/download-artifact@v2
#        with:
#          name: ${{ github.sha }}-js-build
#          path: ./build
#      - name: Set up QEMU
#        uses: docker/setup-qemu-action@v1
#      - name: Set up Docker Buildx
#        uses: docker/setup-buildx-action@v1
#      - name: Build Image
#        id: docker_build
#        uses: docker/build-push-action@v2
#        with:
#          push: false
#          tags: containers.monetr.dev/web-ui


