#storybook-root {
  height: 100%;
}

.sb-show-main.sb-main-padded {
  padding: 0 !important;
}

.sb-wrapper {
  display: none;
}

#storybook-root > div.email-preview > table {
  border-collapse: unset !important;
}
