@use '@monetr/interface/variables';

.root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10 * variables.$size;
}

.spinnerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
